backend/node_modules
backend/google_vm_esp32/node_modules
backend/serverless_endpoints/node_modules
esp32_code/esp-idf/websocket_client/build
.DS_Store
.vscode
sdkconfig*
.idea
.env
*.png
*.jpg
venv/
smart-latch-fd041937391e.json
__pycache__/
temp/
cloudml-samples/
upload_py_endpoints/
vgg_model/
*.json
*.cmd
response.txt
string.txt
keras_export/
smart-latch-3f77ccdb8958.json